Flask>=2.2
Flask-SQLAlchemy>=3.0
python-dotenv>=1.0
requests>=2.28
google-genai==1.50.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
googleapis-common-protos==1.72.0
